<div class="content" ng-controller="operationTagCtrl">
    <div class="loaction">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;当前位置：<span>好友标签管理</span>
        <span class="location-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{now}}</span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">好友标签</div>
        <div class="panel-body">
            <div ng-repeat="x in tagList" style="padding-bottom: 10px;">
                <h4>{{x.title}}:</h4>
                <span class="bg-info operation-tag" ng-repeat="item in x.list">
                    {{item.title}}&nbsp;
                    <i class="fa fa-pencil" ng-click="onEdit(x.types, $index, item.id)" ng-show="false"></i>
                    <i class="fa fa-close" ng-click="onDel(x.types, $index, item.id)" ng-show="false"></i>
                </span>
                <button class="btn btn-success" ng-click="onAdd(x.types)"><i class="fa fa-plus"></i> 添加</button>
            </div>
        </div>
    </div>
</div>
