<div class="content" ng-controller="homeCtrl">
    <div class="loaction">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;当前位置：<span>积分活动管理</span>
        <span class="location-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{now}}</span>
    </div>
    <div class="grid-box" id="grid" ng-controller="integralListCtrl">
        <div class="tool-bar">
            <form class="form-inline" role="form">
                <!-- <a type="button" class="btn btn-primary btn-sm" ui-sref="index.operation.integral.add">添加</a> -->
                <div class="form-group form-group-line">
                    <label>活动标题：</label>
                    <input type="text" class="form-control input-sm" ng-model="filterOpt.title">
                </div>
                <div class="form-group form-group-line">
                    <label>状态：</label>
                    <select class="form-control input-sm" style="width: 100px;" ng-options="x.id as x.name for x in statusList" ng-model="filterOpt.status">
                    </select>
                </div>
                <div class="form-group form-group-line">
                    <label>发布时间：</label>
                    <input type="text" style="width: 200px !important" name="rangTime" date-range-picker class="form-control date-picker input-sm" ng-model="rangTime" options="dataRangePickerOpt">
                </div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="onSearch()"><i class="fa fa-search"></i> 搜索</button>
                &nbsp;
                <button type="button" class="btn btn-success btn-sm" ng-click="onReset()"><i class="fa fa-repeat"></i> 重置</button>
            </form>
        </div>
    </div>
</div>
