<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, maximum-scale=1.0," />
  <title>妈妈托</title>
  <link href="http://cdn.bootcss.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <div id="content" style="display: none;">
    <div v-if="!isSuccess">
      {{errMsg}}
    </div>

    <div v-else-if="type === 'course'" class="course">
      <div class="banner">
        <img :src="rsm.course_img" alt="">
      </div>
      <div class="ctx-block">
        <h3>课程：{{rsm.title}}</h3>
        <p style="margin-top: 12px;">主要解决问题：{{rsm.solve_problem}}</p>
      </div>
      <div class="ctx-block with-icon">
        <div class="head-icon">
          <img :src="rsm.avatar_file">
        </div>
        <h3 class="color-blue">教师：{{rsm.username}}</h3>
        <div style="display: inline-block;">
          <template v-for="x in teacherStar">
            <img src="resource/star1.png" alt="" v-if="x===1">
            <img src="resource/star2.png" alt="" v-else-if="x===0">
            <img src="resource/star3.png" alt="" v-else>
          </template>
        </div>
        <h3>{{rsm.teacher_star}}星</h3>
        <div class="right">
        </div>
      </div>
      <div class="ctx-block with-icon">
        <div class="head-icon">
          <img :src="rsm.guest_avatar_file">
        </div>
        <h3>嘉宾：{{rsm.guest_username}}</h3>
        <div class="right">
          人数：
          <h3>{{rsm.guest_crowd}}</h3>
        </div>
      </div>
      <div class="ctx-block">
        <h3>上课时间</h3>
        <div v-for="x in rsm.course_date">
          <div class="line"></div>
          <p>{{x}} {{rsm.course_times}}</p>
        </div>
      </div>
      <div class="ctx-block">
        <img src="resource/button_location.png" alt="">
        <h3>地点：{{rsm.course_area}} {{rsm.course_address}}</h3>
      </div>
      <div class="ctx-block">
        <h3>内容范围</h3>
        <div class="line"></div>
        <p>{{rsm.related_content}}</p>
      </div>
      <div class="ctx-block">
        <h3>课程目标</h3>
        <div class="line"></div>
        <p>{{rsm.target}}</p>
      </div>
      <div class="ctx-block">
        <h3>课程对未来影响</h3>
        <div class="line"></div>
        <p>{{rsm.future_significance}}</p>
      </div>
      <div class="ctx-block">
        <h3>课程信息</h3>
        <div class="line"></div>
        <p>专题：{{rsm.course_cate_id}}</p>
        <p>人群：{{rsm.grade}}</p>
        <p>难易度：{{rsm.facility}}</p>
        <p>教材版本：{{rsm.textbook_version}}</p>
        <p>关键指标：{{rsm.key_index}}</p>
        <p>结业考试形式：{{rsm.examination_form}}</p>
        <p>考核时间：{{rsm.examination_date}} {{rsm.examination_times}}</p>
      </div>
      <div class="ctx-block" style="padding-bottom: 0">
        <h3 class="font-size-small">已报人数</h3>
        <h3 class="color-blue font-size-big">{{rsm.have_sum}}</h3>
        <h3 class="font-size-small">人</h3>&nbsp;&nbsp;&nbsp;&nbsp;
        <h3 class="font-size-small">还剩</h3>
        <h3 class="color-red font-size-big">&nbsp;{{rsm.un_have_sum}}</h3>
        <h3 class="font-size-small">人</h3>
        <div class="line"></div>
        <p>
          <div class="user-icon" v-for="x in rsm.join_usersall">
            <img :src="x.avatar_file">
          </div>
          <div class="clearfix"></div>
        </p>
      </div>
      <div class="ctx-block">
        <h3 class="color-blue font-size-big">{{rsm.charging_one}}</h3>
        <h3 class="color-blue" class="font-size-small">金币/人/次</h3>
        <div class="right">
          <h3 class="font-size-small">合计：</h3>
          <h3 class="color-blue font-size-big">{{rsm.charging_all}} 金币/人</h3>
          <h3></h3>
        </div>
        <div class="line"></div>
        <p v-if="rsm.charging_types == 1">课前全额预付</p>
        <p v-if="rsm.charging_types == 2">课后单次付费</p>
      </div>
      <div class="bottom-btn">
        下载妈妈托报名参与
        <a class="btn" v-on:click="open">打开</a>
      </div>
    </div>
    <div v-else-if="type === 'inviteCode'" class="code">
      <div class="code-num">
        {{code}}
      </div>
      <div class="code-info">分享你的二维码</div>
      <div class="code-desc">为好友提供金币，让他们免费试听课程。
        <br/>他们开始听课后，您也可以获得相应金币。</div>
      <div class="row">
        <div class="col-xs-12" style="padding: 0 48px;">
          <button class="btn btn-primary" v-on:click="linkToLogin">添加我的邀请码</button>
        </div>
      </div>
    </div>
    <div v-else-if="type === 'login'" class="login">
      <div class="login-desc">注册成功后，你和你的邀请人可
        <br/>各获得10个妈妈托听课金币</div>
      <div class="login-logo">
        <img src="resource/logo2.png" alt="">
      </div>
      <div class="login-input">
        <img src="resource/phone number2.png" alt="">
        <input type="text" placeholder="请输入手机号" v-model='login.data.telphone'>
      </div>
      <div class="login-input-with-btn">
        <div class="login-input">
          <img src="resource/identifying code.png" alt="">
          <input type="text" placeholder="请输入验证码" v-model='login.data.validCode'>
        </div>
        <button type="button" class="btn btn-primary" v-on:click="getValidCode" :disabled="login.checkCodeStatus !== 0">{{validMsg}}</button>
      </div>
      <div class="login-input">
        <img src="resource/password2.png" alt="">
        <input type="password" placeholder="请设置密码" v-model='login.data.password'>
      </div>
      <div class="login-input">
        <img src="resource/invent.png" alt="">
        <input type="text" placeholder="使用邀请码" v-model='login.data.invite_code'>
      </div>
      <button type="button" class="btn btn-primary btn-block" v-on:click="signUp" :disabled="login.data.agree_deal === 0">注册</button>
      <div class="login-check" v-on:click="toggleAgree" v-bind:class="{ sel: login.data.agree_deal === 1 }">
        我已阅读并同意用户协议
      </div>
    </div>
    <div v-else-if="type === 'loginSuccess'" class="login-res">
      <div class="login-res-icon">
        <img src="resource/ok.png" alt="">
      </div>
      <div class="login-res-title">注册成功</div>
      <div class="login-res-info">下载APP开启学习之旅吧</div>
      <div style="padding: 0 36px;">
        <button type="button" class="btn btn-primary" style="margin-bottom: 24px;" v-on:click="download">iOS下载</button>
        <button type="button" class="btn btn-primary" v-on:click="download">Android下载</button>
      </div>
    </div>
    <div v-else-if="type === 'loginFail'" class="login-res">
      <div class="login-res-icon">
        <img src="resource/lose.png" alt="">
      </div>
      <div class="login-res-title">注册失败</div>
      <div class="login-res-info">您已有妈妈托账户，建议直接登录</div>
    </div>
    <div v-else>
      ERROR: Not find this type, please check url
    </div>
  </div>
  <script src="http://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="http://cdn.bootcss.com/vue/2.3.2/vue.min.js"></script>
  <script type="text/javascript">
  var scale = 1 / devicePixelRatio;
  document.querySelector('meta[name="viewport"]').setAttribute('content', 'width=device-width, initial-scale=' + scale + ', maximum-scale=' + scale + ', minimum-scale=' + scale + ', user-scalable=no');
  </script>
</body>

</html>
