<div class="footer">
    <div class="content">
        <div class="info">
            <div class="code">
            </div>
            <p>
                扫一扫
                <br/> 下载妈妈托APP课程咨询，课上互动，成长变化尽在"掌"握
                <br/> 官方电话：13757132350
            </p>
        </div>
        <div class="icp text-right">
            <p>
                <a target="_blank" href="http://www.miibeian.gov.cn/">浙ICP备17002579号</a>
            </p>
<!--             <p>
                <img src="../../resource/icp.png" style="margin-top: -2px;"> 浙公网安备 333444555666
            </p> -->
        </div>
    </div>
</div>
