<div style="display: inline-block; width: 100%">
    <div class="ne-city-sel dropdown" ng-show="!isGrid">
        <button class="btn btn-default btn-sm" data-toggle="dropdown" ng-if="sel.length == 0">选择地区</button>
        <button class="btn btn-default btn-sm" data-toggle="dropdown" ng-if="sel.length != 0">{{sel[0]}} {{sel[1]}} {{sel[2]}}</button>
        <div class="dropdown-menu slide-in-down">
            <select class="form-control input-sm" ng-click="stopPopo($event)" ng-model="provinceSel" ng-options="c as c.name for c in provinceData" ng-change="onChange('province')" style="width: 90px; float: left;margin-right: 6px;">
                <option value="">选择省</option>
            </select>
            <select class="form-control input-sm" ng-click="stopPopo($event)" ng-model="citySel" ng-options="c as c.name for c in cityData" ng-change="onChange('city')" style="width: 90px; float: left;margin-right: 6px;">
                <option value="">选择市</option>
            </select>
            <select class="form-control input-sm" ng-click="stopPopo($event)" ng-model="areaSel" ng-options="c as c for c in areaData" ng-change="onChange('area')" style="width: 100px; float: left;" ng-disabled="!hasArea">
                <option value="">选择区/县</option>
            </select>
        </div>
    </div>
    <div class="row" ng-show="isGrid">
        <div class="col-xs-4">
            <select class="form-control input-sm" ng-click="stopPopo($event)" ng-model="provinceSel" ng-options="c as c.name for c in provinceData" ng-change="onChange('province')">
                <option value="">选择省</option>
            </select>
        </div>
        <div class="col-xs-4">
            <select class="form-control input-sm" ng-click="stopPopo($event)" ng-model="citySel" ng-options="c as c.name for c in cityData" ng-change="onChange('city')">
                <option value="">选择市</option>
            </select>
        </div>
        <div class="col-xs-4">
            <select class="form-control input-sm" ng-click="stopPopo($event)" ng-model="areaSel" ng-options="c as c for c in areaData" ng-change="onChange('area')" ng-disabled="!hasArea">
                <option value="">选择区/县</option>
            </select>
        </div>
    </div>
</div>
