<div class="content">
    <div class="loaction">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;当前位置：<span>客服管理</span>
        <span class="location-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{now}}</span>
    </div>
    <div class="grid-box" id="grid" ng-controller="serviceListCtrl">
        <div class="tool-bar">
            <form class="form-inline" role="form">
                <a class="btn btn-primary btn-sm" ui-sref="index.user.service.add">添加客服</a>&nbsp;&nbsp;&nbsp;
                <div class="form-group form-group-line">
                    <label>姓名：</label>
                    <input type="text" class="form-control input-sm">
                </div>
                <div class="form-group form-group-line">
                    <label>手机号：</label>
                    <input type="text" class="form-control input-sm">
                </div>
                <div class="form-group form-group-line">
                    <label>服务人群:</label>
                    <select class="form-control input-sm" style="width: 60px;" ng-model="filterOpt.service_groups" ng-options="s.id as s.name for s in const.serviceGroup">
                    </select>
                </div>
                <div class="input-group input-sm">
                    <span class="input-group-addon" id="basic-addon1">贡献日期:</span>
                    <input type="text" style="width: 160px" date-range-picker class="form-control date-picker input-sm" ng-model="rangTime" options="createTimeOpt">
                </div>
                <div class="form-group form-group-line">
                    <city-sel ng-model="citySel"></city-sel>
                </div>
                <button type="button" class="btn btn-primary btn-sm" ng-click="onSearch()"><i class="fa fa-search"></i> 搜索</button>
                &nbsp;
                <button type="button" class="btn btn-success btn-sm" ng-click="onReset()"><i class="fa fa-repeat"></i> 重置</button>
            </form>
        </div>
    </div>
</div>
