<div class="content animated fadeIn" ng-controller="serviceAddCtrl">
    <div class="loaction">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;当前位置：<a ui-sref="index.user.service">客服管理</a> > <span>客服添加</span>
        <span class="location-date"><i class="fa fa-clock-o" aria-hidden="true"></i> {{now}}</span>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">新建客服账户</div>
        <div class="panel-body">
            <form class="form-horizontal" style="width: 600px;" name="addService">
                <div class="form-group">
                    <label class="col-sm-2 control-label important">姓名：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addData.real_name" name="real_name" validator="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label important">性别：</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="addData.sex" name="sex" ng-options="c.id as c.name for c in const.sex" validator="required">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label important">身份证号：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addData.card_number" name="card_number" validator="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label important">手机号码：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addData.telphone" name="telphone" validator="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label important">初始密码：</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" ng-model="addData.password" name="password" validator="required">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label important">所在地区：</label>
                    <div class="col-sm-10">
                        <city-sel ng-model="citySel" type="grid"></city-sel>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label important">服务人群：</label>
                    <div class="col-sm-10">
                        <select class="form-control" ng-model="addData.service_groups" name="service_groups" ng-options="c.id as c.name for c in serviceGroup" validator="required">
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="button" class="btn btn-success" validation-submit="addService" ng-click="onSubmit()">
                            <i class="fa fa-plus"></i> 提交
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
