.discover {
  width: 100%;
  .discover-filter {
    padding: 15px 0;
    border: 1px solid #888888;
    &:last-child {
      border-top: 0px;
      padding-bottom: 14px;
    }
    .each-btn {
      height: 40px;
      line-height: 40px;
      border-right: 1px solid #888888;
      float: left;
      position: relative;
      padding: 0 20px 0 60px;
      font-size: 18px;
      img {
        position: absolute;
        left: 15px;
        top: 5px;
      }
      img.normal {}
      img.sel {
        display: none;
      }
      &.sel {
        color: $c-blue;
        img.normal {
          display: none;
        }
        img.sel {
          display: block;
        }
      }
    }
    .filter-btn {
      border: none;
      padding-right: 0;
      margin-right: 50px;
    }
  }
}
