.download {
  .big-pic {
    width: 100%;
    height: 732px;
    background-color: #1d8bd8;
    position: relative;
    overflow: hidden;
    img.bg {
      width: 1600px;
      height: 732px;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -366px;
      margin-left: -800px;
    }
    img.logo {
      position: absolute;
      right: 80px;
      top: 80px;
    }
    .title {
      position: absolute;
      right: 60px;
      top: 240px;
      font-size: 24px;
      color: white;
    }
    .code {
      width: 160px;
      height: 160px;
      position: absolute;
      right: 60px;
      top: 360px;
      background-color: white;
    }
    a.btn-download {
      img {
        width: 240px;
      }
      position: absolute;
      top: 370px;
      right: 250px;
      img.sel {
        display: none;
      }
      &:hover {
        img.normal {
          display: none;
        }
        img.sel {
          display: block;
        }
      }
    }
    a.btn-download2 {
      top: 450px;
    }
  }
}
