.download {
  span.big {
    font-size: 34px;
  }
  span.small {
    font-size: 28px;
  }
  img.page1 {
    width: 400px;
    position: absolute;
  }
  img.page2 {
    @extend img.page1;
  }
  .big-pic {
    width: 100%;
    height: 732px;
    background-color: #1d8bd8;
    position: relative;
    overflow: hidden;
    img.bg {
      width: 1600px;
      height: 732px;
      display: block;
      position: absolute;
      left: 50%;
      top: 50%;
      margin-top: -366px;
      margin-left: -800px;
    }
    img.logo {
      position: absolute;
      right: 80px;
      top: 80px;
    }
    .title {
      position: absolute;
      right: 60px;
      top: 240px;
      font-size: 24px;
      color: white;
    }
    .code {
      width: 160px;
      height: 160px;
      position: absolute;
      right: 60px;
      top: 360px;
      background-color: white;
    }
    a.btn-download {
      img {
        width: 240px;
      }
      position: absolute;
      top: 370px;
      right: 250px;
      img.sel {
        display: none;
      }
      &:hover {
        img.normal {
          display: none;
        }
        img.sel {
          display: block;
        }
      }
    }
    a.btn-download2 {
      top: 450px;
    }
  }
  .interactive {
    width: 100%;
    height: 860px;
    .title {
      width: 330px;
      height: 120px;
      position: absolute;
      left: 320px;
      top: 120px;
      span.big {
        color: #1388e8;
      }
      span.small {
        color: #4fa8ea;
      }
    }
    img.page1 {
      right: 210px;
      top: 150px;
    }
    img.page2 {
      right: 0;
      top: 10px;
    }
  }
  .feedback {
    width: 100%;
    height: 860px;
    background-color: #5284dd;
    .title {
      width: 330px;
      height: 120px;
      position: absolute;
      left: 720px;
      top: 220px;
      color: white;
    }
    img.page1 {
      left: 300px;
      top: 130px;
    }
    img.page2 {
      left: 0;
      top: 30px;
    }
  }
  .last {
    width: 100%;
    height: 900px;
    .title {
      position: absolute;
      left: 90px;
      top: 30px;
      span.big {
        color: #1388e8;
      }
      span.small {
        color: #4fa8ea;
      }
      &.title2 {
        left: 800px;
      }
    }
    img.page1 {
      left: 90px;
      top: 160px;
    }
    img.page2 {
      left: 800px;
      top: 160px;
    }
  }
}
