.home-slide-panel {
  width: 100%;
  height: 620px;
  background-color: #185c99;
}

.home-step {
  width: 100%;
  height: 420px;
  .desc {
    width: 560px;
    float: left;
    .title {
      font-size: 32px;
      color: #384e87;
      padding: 40px 0;
    }
    p {
      font-size: 20px;
      line-height: 30px;
    }
  }
  img {
    margin-top: 30px;
    float: right;
  }
  &.home-step-right {
    .desc {
      float: right;
    }
    img {
      float: left;
    }
  }
}

.home-recommend {
  padding-top: 80px;
  .title {
    font-size: 36px;
    border-bottom: 4px solid $c-blue;
    float: left;
  }
  a.more {
    background-color: #f8c301;
    color: white;
    width: 110px;
    height: 46px;
    font-size: 20px;
    border-radius: 0;
  }
  .each-course {
    width: 280px;
    height: 350px;
    background-color: white;
    margin-top: 20px;
    padding: 200px 4px 0 4px;
    position: relative;
    box-shadow: 1px 1px 5px #bcbcbc;
    color: #878787;
    .course-img {
      width: 100%;
      height: 200px;
      position: absolute;
      top: 0;
      left: 0;
    }
    .course-title {
      width: 100%;
      height: 30px;
      position: absolute;
      left: 0;
      top: 170px;
      color: white;
      line-height: 30px;
      padding-left: 10px;
    }
    &:before {
      display: block;
      position: absolute;
      left: 0;
      top: 170px;
      width: 100%;
      height: 30px;
      background-color: black;
      content: '';
      opacity: 0.5;
    }
    span.course-type {
      display: block;
      padding: 5px 20px;
      background-color: $c-blue;
      position: absolute;
      color: white;
      left: 0;
      top: 0;
    }
    .course-info-each {
      margin: 10px 0;
    }
    span.course-tag {
      padding: 2px 5px;
      background-color: #b9b9b9;
      color: white;
      margin-left: 5px;
      font-size: 12px;
      border-radius: 2px;
    }
  }
}

.home-active {
  width: 100%;
  height: 360px;
  background-color: #e9f6fc;
  .title {
    font-size: 36px;
    border-bottom: 4px solid $c-blue;
    float: left;
    margin: 20px 0;
  }
  .each-active {
    width: 280px;
    height: 180px;
    background-color: $c-blue;
    margin-top: 20px;
  }
}
