@charset "utf-8";
@import "mixins";
$min-width: 1200px;
$c-blue: #0d8ae7;
@import "home.scss";
@import "discover.scss";
@import "download.scss";
@import "course.scss";
@import "login.scss";
body {
  font-family: "Microsoft YaHei", "Lantinghei", "Arial", "黑体", "宋体", sans-serif;
  color: #515151;
}

a.clean {
  // color: #515151;
  text-decoration: none;
  cursor: pointer;
}

a.btn-normal {
  width: 120px;
  height: 40px;
  line-height: 40px;
  border-radius: 0;
  padding: 0;
}

a.btn-big {
  width: 280px;
  height: 60px;
  border-radius: 0;
  font-size: 24px;
  line-height: 60px;
  padding: 0;
}

a.btn-blue {
  color: white;
  background-color: $c-blue;
  text-decoration: none;
  @include Transition(0.3s);
  &:hover {
    color: white;
    background-color: darken($c-blue, 8%);
  }
  &:focus {
    color: white;
  }
}

a.btn-yellow {}

a.btn-tab {
  width: 120px;
  height: 40px;
  line-height: 40px;
  padding: 0;
  color: #a9bbc9;
  border: none;
  background-color: white;
  outline: none;
  border-radius: 0;
  margin: 30px 0 20px 0;
  &.sel {
    color: white;
    background-color: $c-blue;
  }
  &:hover {
    color: #a9bbc9;
  }
  &:focus {}
  &:active {
    box-shadow: 0 0 0;
  }
}

a.btn-tag {
  min-width: 100px;
  background-color: #e0e0e0;
  padding: 5px 10px;
  position: relative;
  cursor: pointer;
  text-align: left;
  color: black;
  border-radius: 0;
  img {
    width: 15px;
    position: absolute;
    right: 10px;
    top: 7px;
  }
  img.sel {
    display: none;
  }
  &:hover {
    img.normal {
      display: none;
    }
    img.sel {
      display: block;
    }
  }
}

// 小图标按钮 登陆页
button.btn-icon {
  width: 24px;
  height: 24px;
  background-color: #ff6d61;
  border: none;
  outline: none;
  position: absolute;
  color: white;
  padding: 0;
  text-align: center;
  line-height: 24px;
  box-shadow: 0 0 0;
  &:focus,
  &:visited,
  &:active {
    outline: none;
    border: none;
    box-shadow: none;
  }
}

.content {
  width: $min-width;
  height: 100%;
  margin: auto;
  position: relative;
}

$menu-height: 56px;
.header {
  width: 100%;
  height: 210px;
  border-bottom: 4px solid #333333;
  .content {
    height: 100%;
  }
  .logo {
    position: absolute;
    left: 20px;
    top: 30px;
  }
  .search {
    width: 460px;
    height: 50px;
    background-color: $c-blue;
    position: absolute;
    right: 0;
    top: 40px;
    padding: 14px 0 10px 380px;
    font-size: 18px;
    a {
      color: white;
      text-decoration: none;
    }
    input {
      border: none;
      outline: none;
      height: 46px;
      width: 360px;
      position: absolute;
      left: 2px;
      top: 2px;
      font-size: 18px;
      padding: 0 10px;
    }
  }
  .menu {
    height: $menu-height;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    ul.nav-bar {
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      li {
        display: block;
        float: left;
        a {
          display: block;
          height: $menu-height;
          width: 160px;
          text-align: center;
          font-size: 18px;
          line-height: $menu-height;
          text-decoration: none;
          color: #616161;
          transition: 0.2s;
          &:hover {
            color: white;
            background-color: #333333;
          }
        }
        &.sel {
          a {
            color: white;
          }
          background-color: #333333;
        }
      }
    }
    ul.nav-right {
      @extend ul.nav-bar;
      padding-top: 0px;
      float: right;
      li {
        position: relative;
        display: block;
        a {
          position: relative;
          width: 150px;
          height: $menu-height - 0;
          line-height: $menu-height - 0;
        }
        a.download {
          padding-left: 30px;
          background-image: url('../resource/phone.png');
          background-repeat: no-repeat;
          background-position: 20px 14px;
          &:hover {
            background-image: url('../resource/phone1.png');
          }
        }
        a.user {
          padding-left: 60px;
          .icon {
            width: 44px;
            height: 44px;
            background-color: $c-blue;
            border-radius: 50%;
            position: absolute;
            left: 15px;
            top: 6px;
            overflow: hidden;
          }
        }
        &.sel {
          a.download {
            background-image: url('../resource/phone1.png');
          }
        }
      }
      ul.dropdown-menu {
        border: none;
        padding: 0;
        min-width: 150px;
        border-radius: 0;
        width: 100%;
        li {
          width: 100%;
          background-color: #333333;
          display: block;
          position: relative;
          padding: 0 10px;
          a {
            padding: 0;
            width: 100%;
            color: white;
            border-bottom: 1px solid white;
            &:hover {
              background-color: transparent;
            }
          }
          &:hover {
            background-color: darken($c-blue, 5%);
          }
          &:last-child {
            a {
              border-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.footer {
  width: 100%;
  height: 300px;
  background-color: #2c303c;
  .info {
    width: 800px;
    height: 180px;
    float: left;
    padding-top: 90px;
    padding-left: 180px;
    color: white;
    font-size: 18px;
    line-height: 36px;
    .code {
      width: 150px;
      height: 150px;
      position: absolute;
      left: 0;
      top: 75px;
      background-color: #e9edf0;
    }
  }
  .icp {
    color: #babfc5;
    float: right;
    padding-top: 140px;
    line-height: 20px;
  }
}

// 返回按钮加标题
.content-nav {
  height: 90px;
  border-bottom: 1px solid #888888;
  padding: 30px 10px 0 80px;
  line-height: 30px;
  font-size: 24px;
  color: #343434;
  margin-bottom: 20px;
  position: relative;
  a.back {
    display: block;
    width: 60px;
    height: 40px;
    padding: 0 10px;
    float: left;
    position: absolute;
    left: 0;
    top: 25px;
    cursor: pointer;
    border-right: 1px solid #888888;
    background: url('../resource/back.png') no-repeat center;
  }
  .back {
    width: 60px;
    padding: 0 10px;
    float: left;
    margin-right: 20px;
    border-right: 1px solid #888888;
  }
}
