@charset "utf-8";
$c-green: #CCCCCC;
$ui-grid-row-height: 36px;
$ui-grid-bottom-h: 54px;
$ui-grid-header-c: #F6F6F6;
$ui-grid-header-h: 36px;
$ui-grid-border-c: #e9eaec;
$s-header: 50px;
$s-header-middle: 40px;
$s-header-small: 32px;
//列表
.ui-grid {
  width: 100%;
  height: 100%;
  padding-top: $ui-grid-header-h;
  background-color: #ffffff;
  position: relative;
  font-size: 12px;
  border: 1px solid $ui-grid-border-c;
  box-sizing: border-box;
  color: #5F5F5F;
  &.blur {
    filter: blur(1px);
  }
  &.with-bottom {
    padding-bottom: $ui-grid-bottom-h;
    .ui-grid-bottom {
      display: block;
    }
  }
  &:before {
    display: block;
    width: 100%;
    height: $ui-grid-header-h;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #F7F7F7;
    content: '';
  }
  .ui-grid-header {
    width: 100%;
    height: $ui-grid-header-h;
    line-height: $ui-grid-header-h;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bolder;
    background-color: #1D8BD8;
    .ui-grid-header-cell {
      height: 100%;
      text-align: center;
      float: left;
      cursor: pointer;
      overflow: hidden;
      color: white;
      border-right: 1px solid #e6e6e6;
      &:nth-last-child(1) {
        border-right: 1px solid #1D8BD8;
      }
    }
    .ui-grid-up {
      position: relative;
      &:after {
        display: block;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent;
        border-bottom: 4px dashed;
        position: absolute;
        right: 0;
        top: 45%;
        content: "";
      }
    }
    .ui-grid-down {
      @extend .ui-grid-up;
      &:after {
        border-bottom: 0;
        border-top: 4px dashed;
      }
    }
  }
  //当该行需要添加checkBox时，添加该样式
  .ui-grid-hasCheck {
    padding-left: 80px;
  }
  .ui-grid-check {
    position: absolute;
    width: 20px;
    height: 100%;
    padding: 2px 0 0 20px;
    left: 0;
    top: 0;
  }
  .ui-grid-bottom {
    width: 100%;
    height: $ui-grid-bottom-h;
    background-color: #eff2f7;
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0 20px;
    display: none;
    border-top: 1px solid #e9eaec;
    color: gray;
    .ui-grid-bottom-info {
      float: left;
      line-height: $ui-grid-bottom-h;
    }
    .ui-grid-bottom-page {
      height: $ui-grid-bottom-h;
      line-height: $ui-grid-bottom-h;
      float: right;
      a.page {
        padding: 0 5px;
        min-width: 20px;
        margin: 0 4px;
        text-align: center;
        color: gray;
        cursor: pointer;
        &.sel {
          text-decoration: none;
        }
      }
      a.page-num {
        padding: 0 5px;
        min-width: 20px;
        text-align: center;
        color: gray;
        cursor: pointer;
        border: 1px solid #c5c8cd;
        &.sel {
          text-decoration: none;
          background-color: #1a8adc;
          border-color: #1a8adc;
          color: white;
        }
      }
    }
  }
  .ui-grid-list {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    .ui-grid-list-no-data {
      text-align: center;
      line-height: 60px;
    }
    .ui-grid-row {
      width: 100%;
      min-height: $ui-grid-row-height;
      line-height: $ui-grid-row-height;
      background-color: #ffffff;
      position: relative;
      border-top: 1px solid #e6e6e6;
      transition: 0.3s;
      &:last-child {
        border-bottom: 1px solid #e6e6e6;
      }
      .ui-grid-row-cell {
        min-height: $ui-grid-row-height;
        height: 100%;
        text-align: center;
        float: left;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        border-right: 1px solid #e6e6e6;
        &:nth-last-child(2) {
          border-right: 0px;
        }
      }
      &:hover {
        background-color: #ECF6FD;
      }
    }
    .ui-grid-row-select {
      background-color: #ECF6FD;
      &:hover {
        background-color: #ECF6FD;
      }
    }
  }
}

.ui-grid-row-down-panel {
  width: 100%;
  height: 200px;
  display: none;
  background-color: white;
  overflow: hidden;
  color: black;
}

.ui-table-theme-ant {
  border-width: 0px;
  padding-top: 50px;
  &:before {
    height: 50px;
    background-color: #F7F7F7;
  }
  &.with-bottom {
    padding-bottom: 50px;
  }
  .ui-grid-header {
    height: 50px;
    line-height: 50px;
  }
  .ui-grid-bottom {
    height: 50px;
    background-color: #F6F7FB;
    .ui-grid-bottom-info {
      float: left;
      line-height: 50px;
    }
    .ui-grid-bottom-page {
      height: 50px;
      line-height: 50px;
    }
  }
  .ui-grid-list {
    .ui-grid-row {
      min-height: 50px;
      line-height: 50px;
      border-top-width: 0px;
      border-bottom: 1px solid #E9E9E9;
      transition: 0.5s;
      &:hover {
        background-color: #ECF6FD;
      }
    }
    .ui-grid-row-select {
      background-color: #ECF6FD;
      &:hover {
        background-color: #ECF6FD;
      }
    }
  }
}

.ui-table-theme-ant-nopage {
  .ui-grid-bottom-info {
    display: none;
  }
  a.page-num {
    display: none;
  }
}
