<!-- 订单详情 -->
<div class="content" ng-controller="orderDetailCtrl">
    <div class="loaction">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;当前位置：<a>订单详情</a>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            订单状态
        </div>
        <div class="panel-body">
            <div style="width: 600px">
                <div class="row">
                    <div class="col-xs-10">{{detail.status}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">下单时间：</div>
                    <div class="col-xs-10">{{detail.createtime}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2">支付时间：</div>
                    <div class="col-xs-10">{{detail.types_times}}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            订单信息
        </div>
        <div class="panel-body">
            <div style="width: 600px">
                <div class="row">
                    <div class="col-xs-2 text-right">订单号：</div>
                    <div class="col-xs-10">{{detail.createtime}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right">金额：</div>
                    <div class="col-xs-10">{{detail.amount}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right">下单时间：</div>
                    <div class="col-xs-10">{{detail.createtime}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right">支付方式：</div>
                    <div class="col-xs-10">{{detail.types}}</div>
                </div>
                <div class="row">
                    <div class="col-xs-2 text-right">支付时间：</div>
                    <div class="col-xs-10">{{detail.types_times}}</div>
                </div>
                <div ng-if="type == 'gold'">
                    <div class="row">
                        <div class="col-xs-2  text-right">金币数量：</div>
                        <div class="col-xs-10">{{detail.gold_sum}}</div>
                    </div>
                    <div class="col-xs-offset-2 col-xs-6">
                        <button class="btn btn-danger btn-sm" ng-click="onRefund()">退款</button>
                    </div>
                </div>
                <div ng-if="type == 'money'">
                    <div class="row">
                        <div class="col-xs-2 text-right">充值账号：</div>
                        <div class="col-xs-10">{{detail.telphone}}</div>
                    </div>
                    <div class="col-xs-offset-2 col-xs-6">
                        <button class="btn btn-danger btn-sm" ng-click="onRefund()">退款</button>
                    </div>
                </div>
                <div ng-if="type == 'courseAdvance'">
                    <div class="row">
                        <div class="col-xs-2 text-right">课程编号：</div>
                        <div class="col-xs-10">{{detail.telphone}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 text-right">专题：</div>
                        <div class="col-xs-10">{{detail.telphone}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 text-right">课程进度：</div>
                        <div class="col-xs-10">{{detail.telphone}}</div>
                    </div>
                    <div class="row">
                        <div class="col-xs-2 text-right">课程节数：</div>
                        <div class="col-xs-10">{{detail.telphone}}</div>
                    </div>
                    <div class="col-xs-offset-2 col-xs-6">
                        <button class="btn btn-danger btn-sm" ng-click="onRefund()">退款</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
