<form class="form-horizontal ne-dialog" name="changePassWord">
    <div class="form-group">
        <label class="col-xs-3 control-label important">原始密码：</label>
        <div class="col-xs-8">
            <input type="password" name="changePassWord-name" class="form-control" ng-model="newData.old_password" validator="required" autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label important">新密码：</label>
        <div class="col-xs-8">
            <input type="password" name="changePassWord-account" class="form-control" ng-model="newData.new_password" validator="required"" autocomplete="off">
        </div>
    </div>
    <div class="form-group">
        <label class="col-xs-3 control-label important">确认密码：</label>
        <div class="col-xs-8">
            <input type="password" name="changePassWord-phone" class="form-control" ng-model="newData.again_password" validator="required" autocomplete="off">
        </div>
    </div>
<!--     <div class="form-group">
        <div class="col-xs-offset-3 col-xs-8">
            <button type="button" class="btn btn-success" validation-submit="changePassWord" ng-click="onSubmit()"><i class="fa fa-plus"></i> 提交</button>
        </div>
    </div> -->
</form>
