<div class="content animated fadeIn" ng-controller="homeCtrl">
    <div class="loaction">
        <i class="fa fa-home fa-lg" aria-hidden="true"></i>&nbsp;当前位置：<a>权限管理</a> > <a>修改密码</a>
    </div>
    <div class="panel panel-default" ng-controller="accountChangePasswordCtrl">
        <div class="panel-heading">修改密码</div>
        <div class="panel-body">
            <form class="form-horizontal" style="width: 800px;" name="Account">
                <div class="form-group">
                    <label class="col-xs-2 control-label important">原始密码：</label>
                    <div class="col-xs-6">
                        <input type="password" name="name" class="form-control" ng-model="newData.old_password" validator="required" message-id="acc-1">
                    </div>
                    <label class="col-xs-4 error-label" id="acc-1"></label>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label important">新密码：</label>
                    <div class="col-xs-6">
                        <input type="password" name="account" class="form-control" ng-model="newData.new_password" validator="required" message-id="acc-2">
                    </div>
                    <label class="col-xs-4 error-label" id="acc-2"></label>
                </div>
                <div class="form-group">
                    <label class="col-xs-2 control-label important">确认密码：</label>
                    <div class="col-xs-6">
                        <input type="password" name="phone" class="form-control" ng-model="newData.again_password" validator="required" message-id="acc-3">
                    </div>
                    <label class="col-xs-4 error-label" id="acc-3"></label>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-xs-6">
                        <button type="button" class="btn btn-success" validation-submit="Account" ng-click="onSubmit()"><i class="fa fa-plus"></i> 提交</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
