@charset "utf-8";
@import "mixins";
$c-dark: #3B3A3F;
$c-light: #01BB8D;
$c-blue: #1D8BD8;
$c-bg: #F1F1F2;
$c-green: #66d354;
$top-height: 60px;
$menu-width: 180px;
$footer-height: 30px;
html,
body {
  margin: 0px;
  height: 100%;
}

.body-box {
  width: 100%;
  min-width: 1200px;
  height: 100%;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f7f7f7;
  position: relative;
  padding-top: $top-height + 8px;
  padding-left: $menu-width;
  // padding-bottom: $footer-height;
}

.content {
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 50px 20px 20px 20px;
  background-color: white;
  box-shadow: 0 0 5px #d2d3d4;
  position: relative;
  .loaction {
    height: 50px;
    line-height: 50px;
    position: absolute;
    left: 20px;
    top: 0;
    color: $c-blue;
    a {
      cursor: pointer;
    }
  }
}

.nav-top {
  width: 100%;
  height: $top-height;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $c-blue;
  z-index: 100;
  color: white;
  .logo {
    width: 20px;
    height: $top-height;
    float: left;
  }
  .title {
    height: $top-height;
    line-height: $top-height;
    float: left;
    margin-left: 15px;
    font-size: 20px;
  }
  .right-box {
    float: right;
    line-height: $top-height;
    a {
      color: white;
      padding: 5px 10px;
      background-color: #0c6db1;
      text-decoration: none;
      cursor: pointer;
      margin: 0 10px;
      border-radius: 4px;
      font-size: 12px;
      &:hover {
        background-color: #0b568a;
      }
    }
  }
}

.nav-menu {
  width: $menu-width;
  height: 100%;
  position: absolute;
  left: 0;
  top: $top-height + 8px;
  background-color: #e9edf0;
  z-index: 90;
  box-shadow: 0 0 5px #b8b8b8;
  ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style-type: none;
    a {
      display: block;
      width: 100%;
      color: #303437;
      cursor: pointer;
      text-decoration: none;
      outline: none;
      padding: 8px 20px 8px 30px;
      transition: 0.2s;
      position: relative;
      i.icon {
        position: absolute;
        left: 15px;
        top: 10px;
      }
    }
    li.active {
      >a {
        color: white;
        background-color: $c-blue;
      }
    }
    a.active {
      background-color: $c-green;
      color: white;
    }
  }
  ul.first {
    >li {
      border-bottom: 1px solid #dbdfeb;
    }
  }
  ul.second {
    a {
      padding-left: 40px;
      &:hover {
        background-color: lighten($c-green, 5%);
        color: white;
      }
    }
  }
}

.footer {
  width: 100%;
  height: $footer-height;
  line-height: $footer-height;
  color: gray;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: white;
  padding-left: $menu-width;
  z-index: 80;
  text-align: center;
}

.grid-box {
  width: 100%;
  height: 100%;
  padding-top: 45px;
  position: relative;
  .tool-bar {
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    top: 0;
  }
  .tool-bar-2 {
    width: 100%;
    height: 45px;
    position: absolute;
    left: 0;
    top: 45px;
  }
  &.with-2-tool {
    padding-top: 90px;
  }
}
