html,
body {
  margin: 0;
  padding: 0;
  background-color: #EFEFF4;
  font-size: 62.5%;
}

#content {
  width: 100%;
  padding: 0;
  font-size: 3.0rem;
}

.course {
  .banner {
    width: 100%;
    min-height: 30rem;
    background-color: #45A8F4;
    img {
      width: 100%;
    }
  }
  .ctx-block {
    width: 100%;
    background-color: white;
    margin-bottom: 2.4rem;
    color: #333333;
    padding: 3.2rem 2rem;
    h3 {
      display: inline-block;
      font-size: 4.0rem;
      font-weight: 600;
      margin: 0 0 .6rem 0;
    }
    p {
      font-size: 3.0rem;
      color: #a9a9a9;
    }
    .line {
      margin: 2rem 0;
      height: 0.1rem;
      background-color: #eeeeee;
    }
    .user-icon {
      float: left;
      width: 5.6rem;
      height: 5.6rem;
      background-color: gray;
      border-radius: 50%;
      margin-right: 2rem;
      margin-bottom: 2rem;
      overflow: hidden;
      img {
        width: 100%;
        height: 100%;
      }
    }
    .color-blue {
      color: #0d89e8;
    }
    .color-gray {
      color: #a9a9a9;
    }
    .color-red {
      color: #fe3434;
    }
    .font-size-big {
      font-size: 4.4rem;
    }
    .right {
      float: right;
    }
    &.with-icon {
      position: relative;
      padding-left: 10rem;
      h3 {
        margin-bottom: 0;
      }
      .user-icon {
        position: absolute;
        left: 2rem;
        top: 50%;
        margin-top: -2.8rem;
      }
    }
  }
  .bottom-btn {
    position: relative;
    margin-top: 4rem;
    width: 100%;
    height: 12rem;
    background-color: white;
    padding-left: 2rem;
    line-height: 12rem;
    font-size: 4.6rem;
    a.btn {
      position: absolute;
      right: 0;
      top: 0.1rem;
      width: 30%;
      height: 100%;
      border: 0;
      font-size: 4.6rem;
      line-height: 12rem;
      padding: 0;
      margin: 0;
      background-color: #0d89e8;
      color: white;
    }
  }
}

.code {
  position: relative;
  text-align: center;
  .code-num {
    font-size: 60px;
    width: 300px;
    height: 130px;
    line-height: 130px;
    margin: 160px auto 0 auto;
    text-align: center;
    background-color: white;
  }
  .code-info {
    font-size: 28px;
    margin: 24px auto 48px auto;
    color: #888888;
  }
  .code-desc {
    font-size: 32px;
    margin-bottom: 54px;
    color: #888888;
  }
}

.btn-primary {
  width: 100%;
  height: 90px;
  padding: 0;
  line-height: 90px;
  font-size: 40px;
  color: white !important;
  background-color: #1a91ec;
}

.login {
  padding: 0 70px;
  .login-desc {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin: 20px 0;
  }
  .login-logo {
    margin: auto;
    width: 236px;
    height: 236px;
    background-color: gray;
  }
  .login-input-with-btn {
    padding-right: 260px;
    position: relative;
    .btn-primary {
      position: absolute;
      top: 18px;
      right: 0;
      width: 214px;
      height: 64px;
      font-size: 24px;
      line-height: 64px;
    }
  }
  .login-input {
    width: 100%;
    height: 100px;
    padding: 30px 50px 10px 79px;
    border-bottom: 1px solid #888888;
    margin-bottom: 28px;
    :-moz-placeholder {
      color: #cecece;
    }
    ::-moz-placeholder {
      color: #cecece;
    }
    input:-ms-input-placeholder {
      color: #cecece;
    }
    input::-webkit-input-placeholder {
      color: #cecece;
    }
    input {
      width: 100%;
      height: 100%;
      border: 0;
      font-size: 32px;
      color: #888888;
      background-color: transparent;
      outline: none;
    }
  }
  .login-check {
    margin-top: 28px;
    padding-left: 60px;
  }
}

.login-res {
  text-align: center;
  .login-res-icon {
    width: 200px;
    height: 200px;
    background-color: gray;
    margin: 100px auto 60px auto;
  }
  .login-res-title {
    font-size: 40px;
    margin-bottom: 48px;
    color: #000000;
  }
  .login-res-info {
    font-size: 28px;
    margin-bottom: 70px;
    color: #000000;
  }
}
